body {
    margin: 0;
    display: grid;
}



/*musicPlayBar*/
.musicPlayBar {   
    border: 1px solid brown;
    position: fixed;
    bottom: 0px;

    background-color: blueviolet;
    height: 70px;
    width: 100%;
    margin: 0px;
    padding: 2px;
}

.musicPlayBar#musicPlayPrgBar {
    border:0px;
    position: relative;
    top: 0px;

    background-color: blue;
    height: 10px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.musicPlayBar#musicPlayStar {
    border:0px;
    position: relative;
    top: 15px;

    background-color: aquamarine;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/*mainpage*/


#playSection{

    display: grid;
    
    background-color: rgb(255, 255, 255);
    height: auto;
    
    
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-gap: 15px;
    grid-auto-rows: minmax(200px,700px);

}
.mainPage#timePoint{
    border-radius: 1%;
    background-color: aqua;

    grid-column: 1 / 4;
    grid-row: 1;
}
.mainPage#blank{
    grid-column: 4 / 6;
    grid-row: 1;
}

.mainPage#meuns{
    background-color: rgba(236, 227, 89, 0.411);

    grid-column: 6 / 13;
    grid-row: 1;
}

